{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

brew bundle --no-lock --file=/dev/stdin <<EOF
cask_args appdir: '/Applications'

# taps
tap 'beeftornado/rmtree' || true
tap 'buo/cask-upgrade' || true
tap 'epk/epk' || true
tap 'github/gh' || true
tap 'homebrew/bundle' || true
tap 'homebrew/cask' || true
tap 'homebrew/cask-drivers' || true
tap 'homebrew/cask-fonts' || true
tap 'homebrew/cask-versions' || true
tap 'homebrew/core' || true

# fonts
cask 'font-sf-mono-nerd-font'

# version control
brew 'git'
brew 'gh'

# languages
brew 'go'
brew 'node'
brew 'python'
brew 'ruby-build'
brew 'rbenv'
brew 'rust'

# utilities
brew 'autojump'
brew 'autoconf'
brew 'automake'
brew 'awk'
brew 'bash'
brew 'bat'
brew 'cmake'
brew 'coreutils'
brew 'diff-so-fancy'
brew 'difftastic'
brew 'dive'
brew 'fd'
brew 'fzf'
brew 'jq'
brew 'krew'
brew 'kubectx'
brew 'kubernetes-cli'
brew 'lsd'
brew 'mas'
brew 'nano'
brew 'ripgrep'
brew 'shellcheck'
brew 'stern'
brew 'tmux'
brew 'watch'
brew 'wget'
brew 'yq'
brew 'zlib'
brew 'zsh'

# applications
cask 'appcleaner'
cask 'docker'
cask 'google-cloud-sdk'
cask 'iterm2'
cask 'rectangle'
cask 'visual-studio-code'
cask 'zoom'
cask '1password-cli'
cask '1password'

# Mac App Store
mas "1Password for Safari", id: 1569813296
mas "Hush", id: 1544743900
mas "Infuse", id: 1136220934
mas "Refined GitHub", id: 1519867270
mas "Sequel Ace", id: 1518036000
mas "Slack", id: 803453959
mas "Structured", id: 1499198946
mas "Tailscale", id: 1475387142
mas "Wipr", id: 1320666476
EOF
{{ end -}}
