#!/bin/bash

alias back="cd .."
alias home="cd ~"

# folder shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# reload zsh config
alias reload!='. ~/.zshrc'

#get IP address
alias localip="ipconfig getifaddr en0"

# git
alias ga='git add'
alias gc='git commit -v'
alias gcmsg='git commit -m'
alias gco='git checkout'
alias gd='git diff'
alias gl='git pull'
alias gp='git push'
alias grbi='git rebase -i'
alias grhh='git reset --hard'
alias gst='git status'

# kubectl
alias k=kubectl
compdef k=kubectl

# dirs
alias epk="cd ~/src/github.com/epk"

{{- if eq .chezmoi.os "darwin" }}
# ls
alias ls=lsd

# cat
alias cat=bat
{{ end }}
