#!/bin/bash

alias back="cd .."
alias home="cd ~"

# folder shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# reload zsh config
alias reload!='. ~/.zshrc'

#get IP address
alias localip="ipconfig getifaddr en0"

#kubectl-short-aliases
alias k=kubectl

# dirs
alias epk="cd ~/src/github.com/epk"

{{- if eq .chezmoi.os "darwin" }}
# ls
alias ls=lsd
{{ end }}
