{{ template "brew-base" . -}}

{{- if eq .chezmoi.os "darwin" -}}
{{ template "brew-cask-base" . -}}
{{ if not .isShopify }}
{{ template "brew-cask-personal-overlay" . -}}
{{ else }}
{{ template "brew-cask-shopify-overlay" . -}}
{{ end -}}
{{ end -}}
