#!/bin/bash

# make a directory then cd into it
mkd() {
  mkdir -p "$1" && cd "$1"
}

# checkout the default branch (main or master)
gco_master() {
  git switch "$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
}

{{ if eq .chezmoi.os "darwin" }}
# visualize traceroute on a map
traceroute-mapper() {
  open "https://stefansundin.github.io/traceroute-mapper/?trace=$(traceroute -q1 "$@")"
}
{{ end }}

