{{ if eq .chezmoi.os "darwin" }}
# Homebrew
[[ -x /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
BREW_PREFIX="${HOMEBREW_PREFIX:-/opt/homebrew}"
{{ end }}

export GOPATH=$HOME
export EDITOR=nano
export PATH=$HOME/.npm-global/bin:$GOPATH/bin:$HOME/.krew/bin:/usr/local/sbin:$PATH

# Plugins, completions, history, keybindings (managed by sheldon)
eval "$(sheldon source)"

# fzf
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND='fd --type d --hidden --follow --exclude .git'
eval "$(fzf --zsh)"

{{ if eq .chezmoi.os "darwin" }}
# GCloud SDK
# shellcheck disable=SC1091
if [ -f "$BREW_PREFIX/Caskroom/gcloud-cli/latest/google-cloud-sdk/path.zsh.inc" ]; then
  source "$BREW_PREFIX/Caskroom/gcloud-cli/latest/google-cloud-sdk/path.zsh.inc";
fi
# shellcheck disable=SC1091
if [ -f "$BREW_PREFIX/Caskroom/gcloud-cli/latest/google-cloud-sdk/completion.zsh.inc" ]; then
  source "$BREW_PREFIX/Caskroom/gcloud-cli/latest/google-cloud-sdk/completion.zsh.inc";
fi

eval "$(gdircolors "$HOME/.LS_COLORS")"
{{ end }}

# shellcheck disable=SC1090
for file in ~/.{aliases,functions}; do
  [ -r "$file" ] && [ -f "$file" ] && source "$file";
done;

export KUBECONFIG=$HOME/.kube/config

{{ if .isShopify -}}
export KUBECONFIG=$KUBECONFIG:$HOME/.kube/config.shopify.cloudplatform
export GOPRIVATE="github.com/Shopify/*"
[ -f /opt/dev/dev.sh ] && source /opt/dev/dev.sh
[[ -f /opt/dev/sh/chruby/chruby.sh ]] && { type chruby >/dev/null 2>&1 || chruby () { source /opt/dev/sh/chruby/chruby.sh; chruby "$@"; } }

# tec profile
[[ -x {{ .chezmoi.homeDir }}/.local/state/tec/profiles/base/current/global/init ]] && eval "$({{ .chezmoi.homeDir }}/.local/state/tec/profiles/base/current/global/init zsh)"
{{ end -}}

{{ if eq .chezmoi.os "darwin" }}
eval "$(zoxide init zsh)"
{{ end }}

eval "$(starship init zsh)"

command -v try &>/dev/null && eval "$(try init ~/src/tries)"
