#!/bin/bash

# navigation
alias back="cd .."
alias home="cd ~"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias epk="cd ~/src/github.com/epk"

# shell
alias reload!='. ~/.zshrc'

# git
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -d'
alias gc='git commit -v'
alias gc!='git commit -v --amend'
alias gca='git commit -v -a'
alias gca!='git commit -v -a --amend'
alias gcb='git checkout -b'
alias gcmsg='git commit -m'
alias gco='git checkout'
alias gd='git diff'
alias gdca='git diff --cached'
alias gf='git fetch'
alias gfa='git fetch --all --prune'
alias gl='git pull'
alias glog='git log --oneline --decorate --graph'
alias gloga='git log --oneline --decorate --graph --all'
alias gm='git merge'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias grb='git rebase'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbi='git rebase -i'
alias grhh='git reset --hard'
alias gss='git status -s'
alias gst='git status'
alias gsta='git stash push'
alias gstp='git stash pop'
alias gstl='git stash list'
alias gsw='git switch'
alias gswc='git switch -c'

# kubectl
alias k=kubectl
compdef k=kubectl

{{- if eq .chezmoi.os "darwin" }}
# macOS overrides
alias localip="ipconfig getifaddr en0"
alias ls=lsd
alias cat=bat
{{ end }}
