{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

CURRENTSHELL=$(dscl . -read /Users/$USER UserShell | awk '{print $2}')
BREW_ZSH_PATH=$(brew --prefix zsh)
if [[ "$CURRENTSHELL" != "$BREW_ZSH_PATH/bin/zsh" ]]; then
  sudo dscl . -change /Users/$USER UserShell $SHELL $BREW_ZSH_PATH/bin/zsh
fi

# Fast Dock Hiding
defaults write com.apple.dock autohide-delay -float 0; defaults write com.apple.dock autohide-time-modifier -int 0;killall Dock

# Make Hidden Apps Transparent in Dock
defaults write com.apple.Dock showhidden -bool TRUE && killall Dock

# JPG Screenshots
defaults write com.apple.screencapture type jpg

sudo scutil --set ComputerName {{ .computerName | quote }}
sudo scutil --set HostName {{ .computerName | quote }}
sudo scutil --set LocalHostName {{ .computerName | lower | replace "'" "-" | replace " " "-" | quote }}
{{ end -}}
