{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

CURRENTSHELL=$(dscl . -read /Users/$USER UserShell | awk '{print $2}')
BREW_ZSH_PATH=$(brew --prefix zsh)
if [[ "$CURRENTSHELL" != "$BREW_ZSH_PATH/bin/zsh" ]]; then
  sudo dscl . -change /Users/$USER UserShell $SHELL $BREW_ZSH_PATH/bin/zsh
fi

defaults write com.googlecode.iterm2 PrefsCustomFolder -string  "{{ .chezmoi.workingTree }}/iterm2"
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true

sudo scutil --set ComputerName {{ .computerName | quote }}
sudo scutil --set HostName {{ .computerName | quote }}
sudo scutil --set LocalHostName {{ .computerName | lower | replace "'" "-" | replace " " "-" | quote }}
{{ end -}}
